In [ ]:
%load_ext sql
%sql sqlite://

Activity 12-2
------------

MVDS.  First load the following table:

In [ ]:
%%sql
DROP TABLE IF EXISTS courses;
CREATE TABLE courses (course TEXT, staff TEXT, student TEXT);
INSERT INTO courses VALUES ('CS949','Amy','Bob');
INSERT INTO courses VALUES ('CS145','Chris','Deb');
INSERT INTO courses VALUES ('CS145','Chris','Eli');
INSERT INTO courses VALUES ('CS145','Firas','Deb');
INSERT INTO courses VALUES ('CS145','Firas','Bob');
INSERT INTO courses VALUES ('CS145','Firas','Eli');

### Exercise 1

We developed some appealingly simple python tools for this lecture & last, but let's switch back to SQL quickly- write a query which returns **no values _only if_** the MVD course to staff holds

Then, comment out the insert statement(s) above so that the MVD does hold (do you remember how to comment out lines in SQL from earlier activities?  It's super useful!)