NOTE:
-----

Please run the below cells first before proceeding- you'll need them soon!

In [ ]:
%load_ext sql
%sql sqlite:///dataset_1.db

Activity 5-1
------------
Quantifiers, NULLs, and Outer Joins

Exercise #1
-----------

Recall that the tables we just looked at:

`bagel`, which describes types of bagels made by the different bagel companies:
> * name STRING
> * price FLOAT
> * made_by STRING

And `purchase`:
> * bagel_name STRING
> * franchise STRING
> * date INT
> * quantity INT
> * purchaser_age INT

Where `purchase.bagel_name` references `bagel.name` and `purchase.franchise` references `bagel.made_by`.

**Can you find out if there were any purchases of products not on one of the company's official lists (i.e. the `bagel` table), using a single SQL query?**

Write your query here: